:root {
  --selected-color: rgb(33, 150, 243);
  --background-color: rgb(47, 48, 58, 1);
  --backgroundbutton-color: rgb(245, 244, 250, 1);
  --textcolor-color: rgb(33, 33, 33);
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* HEADER */
  .navIconFull {
  color: rgb(33, 33, 33);
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: right;
  text-decoration: none;
}
.navLink {
  color: var(--textcolor-color);
}
.navList{
  display: flex;
  gap: 50px;
}
.navLink:active .navLink:focus,
.navLink:hover {
  color: var(--selected-color);
}
.navContact {
  color: rgb(117, 117, 117);
}
.navSection{
    display: flex;
    gap: 16px;
    align-items: center;
}
.navBox{
  display: flex;
  gap: 344px;
  justify-content: space-between;
}
.navIcon{
  display: flex;
  gap: 30px;
  justify-content: space-between;
  align-items: center;
}
/* HEADER */

/* MAIN */

/* BODY */

/* INDEX */
body {
  color: var(--textcolor-color);
  font-family: 'Roboto', sans-serif;
}

/* MAIN */
.main {
  background-color: var(--background-color);
  height: 600px;
  display: flex;
  justify-content: center;
}
.mainTheme{
  display: flex;
  flex-direction: column;
  gap: 30px;
  flex-basis: calc((100% - 2 * 10px) / 1.5);
}
.mainTitle {
  color: rgb(255, 255, 255, 1);
  font-family: 'Roboto', sans-serif;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.3;
  letter-spacing: 0.06em; 
  text-align:center;
}
.mainButton {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: 0.06em;
  color: rgb(255, 255, 255);
  background-color: rgb(33, 150, 243);
  border: none;
  border-radius: 4px;
  padding: 10px 32px;
  cursor: pointer;
  margin: auto;
}
/* MAIN */
/* Values */
.mainValues{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: auto;
}
.mainValues li{
  flex-basis: calc((100% - 30px * 3) / 4);
}

/* Values */

/* ABOUT */
.about {
  display: flex;
  justify-content: space-evenly;
  gap: 30px;
  margin: auto;
}
/* ABOUT */

/* TEAM */
.team {
  background-color: rgb(245, 244, 250);
}
.teamMember {
  background-color: rgb(255, 255, 255, 1);
}
.teamName {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
}
.teamJob {
  color: rgb(117, 117, 117);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
}
.teamCard{
  border-radius: 0px 0px 4px 4px;
box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

/* TEAM */

/* INDEX */

/* PORTAFOLIO */
.product{
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
/* BODY */

/* FOOTER */
.footerList{
  display: flex;
  gap: 2px;
  flex-direction: column;
  max-width: 250px ;
}
.ubication {
  color: rgb(255, 255, 255);
  display: flex;
}
.findUs {
  color: rgb(255, 255, 255);
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.21;
  letter-spacing: 0.03em;
}
.socialMedia {
  color: rgb(255, 255, 255);
}
.footer {
  background-color: var(--background-color);
}
.footerIconFull {
  color: rgb(255, 255, 255);
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: right;
  text-decoration: none;
}
.footerContact {
  color: rgba(255, 255, 255, 0.6);
}
/* FOOTER */

/*Contenido general*/
.container {
  width: 1200px;
  margin: auto;
  padding:15px;
}
.section{
  padding: 94px 0;
}
.current{ 
  color: var(--selected-color);
}
.list {
  list-style: none;
}
.subtitle {
  font-family: 'Roboto', sans-serif;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.detail {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.21;
  letter-spacing: 0.03em;
}
.content {
  color: rgb(117, 117, 117);
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.iconName {
  color: var(--selected-color);
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
  align-items:flex-end;
  text-decoration: none;
}

.link {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.link:hover,
.link:focus {
  color: var(--selected-color);
}
.filterButton {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.88; /*se calcula dividiendo el line-height / font-size*/
  letter-spacing: 0.03em; /*se coloca el valor en decimales*/
  background-color: var(--backgroundbutton-color);
  border-style: hidden;
  border-radius: 4px;
  cursor: pointer;
}
.button:hover,
.button:focus,
.button:active {
  color: rgb(255, 255, 255);
  background-color: var(--selected-color);
}

.cardSet {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 0;
} 